#shortcart{
    width: 100%;
    height: 30px;
    line-height: 30px;
    background: none repeat scroll 0 0 #f7f7f7;
}
#shortcart li{
    height: 30px;
/*     padding: 0 11px 0 12px; */
}
a:hover{
    color: #ff6600;
}
.w-index{
    width: 1200px;
    margin: 0 auto;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.fr #fore1{
    height: 30px;
}
.fl li a{
    padding: 0 9px;
}
.fl #site-nav a{
    border-right: 1px solid #ddd;
}
.fl li{
    float: left;
}
#login{
    width: 400px;
    height: 200px;
    background: yellowgreen;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 5;
    display: none;

}
#login .loginhead{
    height: 30px;
    background: #ddd;
    line-height: 30px;
    font-size: 16px;
}
#login #left{
    float: left;
}
#login #close{
    float: right
}
.page .leftlogin{
    height: 100px;
    width: 100px;
    margin-top: 30px;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
    border-right: 1px solid #ddd;
    float: left;
    padding-left: 20px;
}
.page .rightlogin{
    height: 100px;
    margin-top: 30px;
    float: right;
    line-height: 20px;
    padding: 10px 60px 10px 0;
}
#submit{
    background: #ff6600;
    border: none;
    color: white;
}
#alert-message{
    display: none;
}
/* header2 */
#o-header-2013 {
    background: #FFFFFF;
}
#header-2013 {
    height: 60px;
    padding: 15px 0;
}
.w-index {
    width: 1200px;
    margin: 0 auto;
}
#logo-2013 {
    float: left;
    width: 280px;
}
/* 购物车 */
#settleup-2013 {
    float: right;
    height: 30px;
    margin-top: 12px;
    position: relative;
    width: 126px;
    z-index: 9;
    font-size: 12px;
}
#settleup-2013 dt {
    background-color: #f7f7f7;
    background-position: -115px -84px;
    border: 1px solid #efefef;
    cursor: pointer;
    height: 30px;
    padding: 0 20px 0 30px;
    position: absolute;
    text-align: center;
    width: 74px;
    z-index: 3;
}
.ld s, .ld b, .ld .block {
    overflow: hidden;
    position: absolute;
}
#settleup-2013 dt .shopping {
    background-image: url("http://www.newmotor.com.cn/Images/shop/20130330A_2.png");
    background-position: -133px -279px;
    color: #fff;
    left: 20px;
    padding-left: 6px;
    position: absolute;
    top: -13px;
}
#settleup-2013 dt, #settleup-2013 dl.hover dt, #settleup-2013 .nogoods b {
    background-image: url("http://www.newmotor.com.cn/Images/shop/20130330A_2.png");
    background-repeat: no-repeat;
}
#settleup-2013 dt a {
    line-height: 27px;
}
#settleup-2013 dt b {
    border-color: transparent transparent transparent #ccc;
    border-style: dashed dashed dashed solid;
    border-width: 5px;
    height: 0;
    overflow: hidden;
    right: 4px;
    top: 9px;
    width: 0;
}
#settleup-2013 dt .shopping span {
    background-image: url("http://www.newmotor.com.cn/Images/shop/20130330A_2.png");
    background-position: 100% -250px;
    display: block;
    float: left;
    height: 20px;
    padding-right: 6px;
}
/* search */
#search-2013-index {
    float: right;
    padding: 10px 0 0 0;
    width: 530px;
    margin-right: 60px;
}
#search-2013-index .i-search {
    border: 3px solid #ddd;
    height: 30px;
    margin-bottom: 3px;
    width: 504px;
    z-index: 11;
}
#search-2013-index .text {
    background-color: #fff;
    background-position: 0 -360px;
    background-repeat: repeat-x;
    color: #999;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    padding: 5px;
    width: 416px;
}
#search-2013-index .button {
    background: #ff6600;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    width: 75px;
}
#search-2013-index input {
    border: 0 none;
    height: 30px;
    margin: 0;
    padding: 0;
}
/* nav */
.ban {
    margin: 0 auto;
    width: 100%;
    background: #ff6600;
}
.root61 .w {
    width: 1000px;
    margin: 0 auto;
}
#nav-2013 {
    background: #ff6600;
    height: 40px;
    margin-bottom: 10px;
    padding-left: 210px;
    z-index: 6;
    position: relative;
}
#navitems-2013 li:hover{
    background: rgb(254, 187, 142) none repeat scroll 0% 0%;
}
#treasure {
    position: absolute;
    right: 0;
    top: 0;
}
#navitems-2013{
    height: 40px;
}
#navitems-2013 li {
    float: left;
    position: relative;
    text-align: center;
    width: 83px;
}
#navitems-2013 li a {
    color: #fff;
    font-family: simsun;
    font: 700 15px/40px "microsoft yahei";
    text-align: center;
    text-decoration: none;
    width: 85px;
}
#navitems-2013 li.fr {
    float: right;
    width: 65px;
}
#a9{
    margin-right: 100px;
}
#navitems-2013 li.fr a {
    font-size: 14px;
    font-weight: normal;
    width: 65px;
}
/* .root61 .w {
	width: 1000px;
} */
.main {
	margin: 0 auto;
	width: 1000px;
}
.crumb {
    font-family: 宋体;
    height: 20px;
}
.right-extra {
	width: 100%;
}
.clr {
	display: block;
	overflow: hidden;
	clear: both;
	height: 0;
	line-height: 0;
	font-size: 0;
}
#select {
	margin-bottom: 0;
	zoom: 1;
}
#select .mt {
	height: 30px;
	padding: 0 10px;
	border: 1px solid #ddd;
	border-bottom: none;
	background: #F7F7F7;
	line-height: 30px;
}
#select .mt h1 {
	float: left;
	height: 30px;
	font: normal 15px/30px 微软雅黑;
	color: #ff6600;
}
#select .mt h1 strong {
	margin-right: 10px;
	font: normal 15px/30px 微软雅黑;
	color: #333;
}
.mt {
	cursor: default;
}
#select .mt .total strong {
	color: #ff6600;
	font-weight: normal;
}
#select .mc {
    height: 300px;
    border: 1px solid #ccc;
}
#select .mc > div:first-child .attr {
	border-top: medium none;
}
.attr .a-key {
	float: left;
	width: 70px;
	font-weight: bold;
	text-align: right;
	line-height: 25px;
}

.selected-c .a-values, .prop-attrs .a-values, .color-attr .a-values, .brand-attr .a-values {
	float: right;
	/* padding-right: 120px; */
	position: relative;
	width: 920px;
}
.prop-attrs .v-fold .f-list li {
	float: left;
	height: 20px;
	margin-right: 25px;
	padding-top: 5px;
}
.prop-attrs .v-fold .f-list a {
	float: left;
	height: 15px;
	line-height: 14px;
	text-decoration: none;
	overflow: hidden;
	white-space: nowrap;
	font-family: verdana;
	color: #005aa0;
}
/* filter */
html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, address, big, cite, code, del, em, font, img, ins, small, strong, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
	margin: 0;
	padding: 0;
}
#filter {
	border: 1px solid #ddd;
	margin-bottom: 20px;
	background: #F7F7F7;
	box-shadow: 0 1px 1px rgba(0,0,0,0.02);
}
#filter .fore1 {
	overflow: hidden;
	height: 26px;
	padding: 5px 8px;
	border-bottom: 1px solid #E7E3E7;
	zoom: 1;
}
#filter dl, #filter dt, #filter dd {
	float: left;
	line-height: 26px;
	zoom: 1;
}
#filter .order .curr {
	border: 1px solid #ff6600;
	background: #ff6600;
	font-weight: bold;
}
#filter .order .curr a:link, #filter .order .curr a:visited {
	color: #fff;
}
#filter .up a, #filter .down a {
	padding-right: 20px;
}
#filter .order a {
	display: block;
	padding: 0 10px;
}
#filter .order dd {
	height: 24px;
	border: 1px solid #CECBCE;
	background: #fff;
	margin-right: 5px;
	line-height: 24px;
	overflow: hidden;
	zoom: 1;
}
#filter .order a {
	display: block;
	padding: 0 10px;
}   

#filter .activity {
	float: right;
	padding-left: 10px;
}
#filter .activity strong {
	color: #ff6600;
	font-weight: normal;
}
#plist, #plist .list-h {
	position: relative;
	overflow: visible;
	z-index: 2;
}
#plist.prebuy .list-h .liclass {
	margin: 0 6px 10px 0px;
}
#plist.prebuy .list-h li {
	position: relative;
	width: 242px;
	padding: 0;
	border: 1px solid #eee;
    height: 360px;
    float: left;
}
#plist.prebuy .list-h li .lh-wrap {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	border: none;
}
.layout-ie8 {
	display: table;
	table-layout: fixed;
	width: 242px;
	height: 242px;
}
#plist.n7 .p-img {
	height: 242px;
	width: 242px;
	border: none;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	*line-height: 242px;
}
#plist .p-img {
	position: relative;
	height: 160px;
	border: 1px solid #fff;
	transition: border 0.3s ease-in 0s;
	text-align: center;
}
#plist.n7 .p-img img {
	max-width: 242px;
	max-height: 242px;
}
#plist.prebuy .list-h .liclass0 {
	margin: 0 0 10px 0;
}
.p-name {
	height: 3em;
	word-wrap: break-word;
	padding: 5px 5px 0 5px;
	/* width: 235px; */
}
#plist .p-name a:link, #plist .p-name a:visited {
	color: #666;
}
#plist .p-price {
	height: 22px;
	padding: 15px 5px 10px 5px;
	font-family: 'Microsoft YaHei',STXihei,MingLiu;
	/* width: 230px; */
}
#plist .p-price strong {
	/* float: left; */
	margin-right: 5px;
	font-size: 14px;
	color: #ff6600;
}
/* 分页 */
.tw_gmpage {
	TEXT-ALIGN: center;
	LINE-HEIGHT: 20px;
	MARGIN: 15px auto;
	FONT-FAMILY: Arial,Helvetica,sans-serif;
}
.tw_gmpage A {
	BORDER-BOTTOM: #6D95C7 1px solid;
	BORDER-LEFT: #6D95C7 1px solid;
	PADDING-BOTTOM: 2px;
	PADDING-LEFT: 6px;
	PADDING-RIGHT: 6px;
	COLOR: #023399;
	MARGIN-LEFT: 4px;
	BORDER-TOP: #6D95C7 1px solid;
	BORDER-RIGHT: #6D95C7 1px solid;
	PADDING-TOP: 2px;
}











/* footer */
.w-index1 {
    width: 1200px;
    margin: 0 auto;
/*     margin-top: 300px; */
}
#service-2013 {
    padding: 10px 20px;
    margin: 20px 0;
    background: #FFF;
    border-top: 1px solid #f1f1f1;
}
#service-2013 dl {
    float: left;
    width: 196px;
}
#service-2013 dt {
    position: relative;
    padding: 6px 0 6px 44px;
    font: 14px "microsoft yahei";
    zoom: 1;
}
#service-2013 dl.fore1 b {
    background-position: 0 -55px;
}
#service-2013 dt b {
    position: absolute;
    top: 5px;
    left: 0;
    width: 40px;
    height: 40px;
}
#service-2013 dt {
    font: 14px "microsoft yahei";
}
#service-2013 dd {
    min-height: 120px;
    padding-left: 24px;
    margin-left: 20px;
    line-height: 20px;
}
.clr {
    clear: both;
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
}
.footer-index {
    padding: 23px 0 31px;
    border-top: 1px solid #f1f1f1;
    text-align: center;
    line-height: 25px;
}
