body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
input,
ul,
li,
dd,
dl,
textarea {
	padding: 0;
	margin: 0;
	list-style-type: none;
}
a,a:hover {
	text-decoration: none;
}
img {
	border: 0;
}
body {
	font-family: microsoft Yahei;
	min-width: 1200px;
	/*background: #f5f5f5;*/
	_width: expression(document.documentElement.clientWidth>1200?document.documentElement.clientWidth: 1200);
}
em,
i {
	font-style: normal;
}
/*顶部    start*/

.yHeader {
	width: 100%;
	background: #FFFFFF;
}
/*导航   start*/

.yNavIndex {
	width: 1200px;
	margin:0 auto;
	z-index: 3;
	height:50px;
	/*border-bottom: 2px solid #2d2d2d;*/
	
	position: relative;
}
.yNavIndex .yMenuIndex {
	margin-left: 190px;
	
}
.yNavIndex .yMenuIndex li a {
	position: relative;
	display: inline-block;
	font-size: 16px;
	color: #333;
	line-height: 47px;
	height: 47px;
	padding: 0 21px;
	font-weight: bold;
	font-family: "microsoft yahei";
}
.yNavIndex .yMenuIndex li a.yMenua {
	font-weight: bold;
	/*border-bottom: 3px solid #2d2d2d;*/
}
.yNavIndex .yMenuIndex li a:hover {
	font-weight: bold;
	/*border-bottom: 3px solid #2d2d2d;*/
	color:#ff6600;
}
.yNavIndex .yMenuIndex li {
	float: left;
	height: 33px;
	padding: 0 8px;
}
/*下拉*/

.pullDown {
	z-index: 3;
	position: absolute;
	left: 0;
}
.pullDownTitle {
	height: 50px;
	width: 190px;
	background: #ff6600;
	color: #ffffff;
	font-size: 16px;
	font-weight: normal;
	text-align: center;
	line-height: 50px;
}
.pullDownList {
	width: 190px;
	height: 400px;
	/*background: url(../images/pullbj.jpg);*/
	
	position: relative;
	z-index: 2;
	background-color: #000;
	opacity: .8;
}
.pullDownList li {
	height: 50px;
	line-height: 50px;
	color: #fefcfc;
	padding-left: 25px;
	position: relative;
	font-weight: bold;
}
.pullDownList li i {
	display: inline-block;
	position: relative;
	top: 4px;
	margin-right: 8px;
	left: 0;
	-webkit-transition: margin-left .2s linear;
	-moz-transition: margin-left .2s linear;
	-o-transition: margin-left .2s linear;
	width: 20px;
	height: 19px;
	/*background: url(../images/indexicon1.png) no-repeat;*/
}
.pullDownList li.menulihover i {
	/*margin-left: 6px;*/
}
.pullDownList li a {
	color: #fefcfc;
	font-size: 15px;
}
.pullDownList li.menuliselected {
	background: #4a4a4a;
}
.pullDownList li.menuliselected span {
	top: 14px;
	right: 7px;
	border-left: 4px solid transparent;
	border-top: 4px solid #fff;
	border-right: 4px solid transparent;
	border-bottom: 0;
}
.pullDownList li.menulihover {
	background: #ff6600;
}
.pullDownList li span {
	display: inline-block;
	width: 0;
	height: 0;
	position: absolute;
	top: 20px;
	right: 8px;
	
	border-left: 5px solid #fff;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-right: 0;
}
.pullDownList li.menulihover span {
	top: 20px;
	right: 8px;
	border-left: 5px solid #fff;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-right: 0;
}
/*下拉详细列表具体分类*/

.yMenuListCon {
	width: 800px;
	height: 400px;
	position: absolute;
	z-index: 2;
	top: 50px;
	left: 190px;
	overflow: hidden;
}
.yMenuListCon p {
	width: auto;
	color: #7f7e7e;
	font-size: 12px;
	margin: 10px 0 0 -1px;
	overflow: hidden;
}
.yMenuListCon p a {
	color: #7f7e7e;
	font-size: 12px;
	padding: 0 8px;
	/*display: inline-block;
	float: left;*/
	margin-top: 5px;
	line-height: 30px;
	height: 30px;
	/*background: url(../images/indexicon1.png) 0 -1695px;*/
}
.yMenuListCon p a.ecolor610 {
	color: #ff6600;
}
.yMenuListCon p a:hover {
	color: #ff6600;
	text-decoration: underline;
}
.yMenuListConin {
	display: none;
	background: #fff;
	opacity: 0.9;
	-moz-opacity: 0.9;
	filter: alpha(opacity=90);
	padding: 0 20px;
	width: 760px;
	height: 400px;
	position: absolute;
	left: 0;
	top: 0;
}
.yMenuLCinList {
	overflow: hidden;
}
/*详细分类标题*/

.yMenuLCinList h3 {
	position: relative;
	height: 50px;
	width: auto;
	margin: 25px auto 0;
	border-bottom: 1px solid #000;
}
.yMenuLCinList h3 a {
	font-size: 14px;
	color: #2d2d2d;
	position: absolute;
	bottom: 0px;
	display: block;
}
.yMenuLCinList h3 .yListMore {
	color: #666666;
	font-weight: normal;
	right: 0;
	width: 43px;
	height: 50px;
	line-height: 50px;
}
.yMenuLCinList h3 .yListName {
	-webkit-transition: left .2s linear;
	-moz-transition: left .2s linear;
	-o-transition: left .2s linear;
	display: block;
	width: 150px;
	height: 50px;
	line-height: 50px;
	padding-top: 17px;
	padding-left: 50px;
	left: 0;
	font-weight: bold;
	/*background: url(../images/yListNameicon.png) no-repeat 0 5px;*/
}
.yMenuLCinList h3 .yListName:hover {
	left: 6px;
}
/*导航   end*/
/*顶部    end*/
/*banner  start*/

.yBanner {
	height: 400px;
	width: 100%;
	overflow: hidden;
	position: relative;
}
.yBannerList {
	height: 400px;
	width: 100%;
	/*background:#d32830;*/
	
	position: absolute;
	top: 0;
	left: 0;
}
.ybannerHide {
	display: none;
}
.ymainBanner {
	-webkit-transform: scaleX(1.05) scaleY(1.05);
	-moz-transform: scaleX(1.05) scaleY(1.05);
	-ms-transform: scaleX(1.05) scaleY(1.05);
	-o-transform: scaleX(1.05) scaleY(1.05);
	transform: scaleX(1.05) scaleY(1.05);
}
.ybannerExposure .ymainBanner {
	-webkit-transition: -webkit-transform 4s linear;
	-moz-transition: -moz-transform 4s linear;
	-o-transition: -o-transform 4s linear;
	transition: transform 4s linear;
	-webkit-transform: scaleX(1) scaleY(1);
	-moz-transform: scaleX(1) scaleY(1);
	-ms-transform: scaleX(1) scaleY(1);
	-o-transform: scaleX(1) scaleY(1);
	transform: scaleX(1) scaleY(1);
}
.yBannerListIn {
	overflow: hidden;
	/*width: 1010px;padding-left:190px;*/
	
	height: 400px;
	margin: 0 auto;
	position: relative;
}
.ytextBanner {
	opacity: 0;
	position: absolute;
	right: 190px;
	top: 0;
	width: 405px;
	height: 400px;
	/*z-index: 1;
	
	background: url(../images/banner1in.png) no-repeat center center;*/
}
.ybannerExposure .ytextBanner {
	-webkit-transition: opacity 2s linear;
	-moz-transition: opacity 2s linear;
	-o-transition: opacity 2s linear;
	transition: opacity 2s linear;
	opacity: 1;
}
/*.yBannerListIn */

.yBannerListInRight {
	position: absolute;
	top: 75px;
	right: 0;
	width: 190px;
	height: 400px;
	z-index: 5;
	opacity: 0.95;
	filter: alpha(opacity=95);
}
.yBannerListInRight .yimaginaryLine {
	display: block;
	height: 0;
	border-top: 1px dotted #eee;
}
.yBannerListInRight img {
	height: 350px;
	width: 190px;
	vertical-align: top;
	-webkit-transition: -webkit-transform .2s linear;
	-moz-transition: -moz-transform .2s linear;
	-o-transition: -o-transform .2s linear;
	transition: transform .2s linear;
}
/*.yBannerListInRight img:hover{-webkit-transform: translateX(-5px);-moz-transform: translateX(-5px);-ms-transform: translateX(-5px);-o-transform: translateX(-5px);transform: translateX(-5px);}*/

/*banner  end*/



/*
*{margin:0;padding:0;list-style-type:none;}
a,img{border:0;}
body{font:12px/180% Arial, Helvetica, sans-serif, "新宋体";}*/

.banner{width:100%;overflow:hidden;height:400px;position:relative}
.banList{position:absolute;left:50%;margin-left:-960px;height:400px}
.banList li{height:400px;opacity:0;position:absolute;transform:scale(0);transition:transform 0.5s ease 0s, opacity 1.5s ease 0s;z-index:1;}
.banList li a{width: 1200px;}
.banList li.active{opacity:1;transform:scale(1);z-index:2;}
.fomW{position:absolute;bottom:20px;left:50%;height:20px;z-index:2;width:1000px;margin-left:-500px}
.jsNav{text-align:center;}
.jsNav a{display:inline-block;background:#fff;width:15px;height:15px;border-radius:50%;margin:0 5px;}
.jsNav a.current{background:#fc8f0f;cursor:pointer}
